<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,width=device-width">

  <title>Locale</title>

  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
  <style>
    .ww-ba { word-wrap: break-word; }
    .ws-pw { white-space: pre-wrap; }
  </style>
</head>
<body class="black-80 sans-serif">
  <header class="w-100 pv5 black-80 bg-gold">
    <div class="w-90 mw9 center">
      <h1 class="f1 mb2 mt0 tc">Locale</h1>
      <h2 class="f4 fw4 tc mb0">A polyfill to understand your users' preferred languages</h2>
    </div>
  </header>
  <main class="bb b--black-10 pv4 bg-washed-blue black-70">
    <div class="w-90 center mw9 cf">
      <section class="fl w-50-m w-50-l">
        <h2 class="f4 mb2 mt0">How?</h2>
        <p class="lh-copy measure">Make a <code class="f6 pa1 br1 bg-lightest-blue normal">GET</code> request to <a class="link underline-hover blue" href="https://locale.now.sh/api">https://locale.now.sh/api</a> and get a sorted list of the user's languages.</p>
        <h2 class="f4 mt4 mb2">Why?</h2>
        <p class="lh-copy measure">In newer browsers you can gain access to an array of the user's preferred languages via <code class="f6 pa1 br1 bg-lightest-blue normal">window.navigator.languages</code>. In older browsers, however, that array isn't available. In comes locale, a server-side polyfill to get that list of languages.</p>
      </section>
      <section class="fl w-50-m w-50-l pl4-m pl5-l">
        <div>
          <h3 class="f5">Using <code class="f6 pa1 br1 bg-lightest-blue normal ww-ba">window.navigator.languages</code></h3>
          <pre class="pa2 mid-gray ba b--black-30 br1 ws-pw ww-ba"><code data-hook="native"></code></pre>
        </div>
        <div>
          <h3 class="f5">Using <code class="f6 pa1 br1 bg-lightest-blue normal ww-ba">locale.now.sh</code></h3>
          <pre class="mb0 pa2 mid-gray ba b--black-30 br1 ws-pw ww-ba"><code data-hook="polyfill">Loading...</code></pre>
        </div>
      </section>
    </div>
  </main>
  <footer class="w-90 mw9 pv4 center f6 lh-copy bg-washed-blue black-70">
    <p class="mt0">Locale is open source and available on <a class="link underline-hover blue" href="https://github.com/mike-engel/locale">Github</a>. Are you fluent in another language and want to help translate? Let me know in a <a class="link underline-hover blue" href="https://github.com/mike-engel/locale/issues/new">Github issue</a>!</p>
    <p class="mb0">Created with &#9829; by <a class="link underline-hover blue" href="https://github.com/mike-engel">Mike Engel</a> using <a class="link underline-hover blue" href="https://rust-lang.org">Rust</a>, <a class="link underline-hover blue" href="https://rocket.rs">Rocket</a>, and <a class="link underline-hover blue" href="https://tachyons.io">Tachyons</a>. Hosted on Zeit's <a class="link underline-hover blue" href="https://now.sh">Now.sh</a>.</p>
  </footer>
  <script>
  var req = new XMLHttpRequest();

  req.addEventListener('load', function (evt) {
    if (evt.target.status === 200) {
      var languages = evt.target.responseText;

      document.body.querySelector('[data-hook="polyfill"]').innerText = languages;
    }
  });

  req.open('GET', '/api');
  req.send();

  document.body.querySelector('[data-hook="native"]').innerText = (
    JSON.stringify(navigator.languages) || 'Not supported in your browser :('
  );
  </script>
</body>
</html>
